apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 12h
  url: https://traefik.github.io/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  releaseName: traefik
  chart:
    spec:
      chart: traefik
      version: 37.1.2
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  interval: 30m
  values:
    service:
      type: LoadBalancer
      annotations:
        metallb.universe.tf/loadBalancerIPs: $(LB_IP_TRAEFIK)
      externalTrafficPolicy: Local
    persistence:
      enabled: true
      path: /data
      size: 1Gi
      accessMode: ReadWriteOnce
    deployment:
      additionalArguments:
        - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
        - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
        - "--certificatesresolvers.cloudflare.acme.email=${ACME_EMAIL}"
        - "--certificatesresolvers.cloudflare.acme.dnschallenge.provider=cloudflare"
        - "--certificatesresolvers.cloudflare.acme.storage=/data/acme.json"
      envFrom:
        - secretRef:
            name: traefik-acme
    ingressClass:
      enabled: true
      isDefaultClass: true
      name: traefik
