apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: bijouxlabs
resources:
  - pvc.yaml
  - deployment.yaml
  - service.yaml

labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      app.kubernetes.io/part-of: opengist
