apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: longhorn-system

resources:
  - namespace.yaml
  - storageclass-default.yaml
  - ui-lb.yaml

helmCharts:
  - name: longhorn
    repo: https://charts.longhorn.io
    version: 1.10.0
    releaseName: longhorn
    namespace: longhorn-system
    valuesInline:
      # --- Globaldefaults low writes ---
      defaultSettings:
        defaultReplicaCount: "2"
        defaultDataLocality: best-effort
        replicaSoftAntiAffinity: false
        allowVolumeCreationWithDegradedAvailability: false
        disableRevisionCounter: "true"
        defaultLonghornStaticDataCompliance: false
        orphanAutoDeletion: true
        nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod

      # --- Longhorn system on control plane---
      longhornManager:
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
          - key: "node-role.kubernetes.io/master"
            operator: "Exists"
            effect: "NoSchedule"
        priorityClass: "system-node-critical"
        resources:
          requests:
            cpu: 50m
            memory: 256Mi
          limits:
            cpu: 200m
            memory: 512Mi
      longhornDriver:
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
          - key: "node-role.kubernetes.io/master"
            operator: "Exists"
            effect: "NoSchedule"
        priorityClass: "system-node-critical"
      # longhornUI:
      #   service:
      #     type: LoadBalancer
      #     loadBalancerIP: 192.168.0.168

      # StorageClass behavior (CSI)
      persistence:
        defaultClass: false   # we supply our own SC below
        reclaimPolicy: Delete
        defaultFsType: ext4
