apiVersion: v1
kind: Service
metadata:
  name: netdata
  namespace: bijouxlabs
  labels: { app: netdata }
spec:
  type: ClusterIP
  selector:
    app: netdata
  ports:
    - name: http
      port: 19999
      targetPort: http
